<% layout('layouts/boilerplate') %>

<div class="blog-post">
    <h1><%= post.title %></h1>
    <p><%= post.description %></p>
    <p><%= post.location %></p>
    <p><%= post.tourDate %></p>
    <p><%= post.numberOfDays %> days</p>
    <p><%= post.people %> people</p>
    <p><%= post.socialMedia %></p>
    <p><%= post.contact %></p>
    <p><%= post.email %></p>
    <p><%= post.requirements %></p>
</div>

<button><a href="/tourmatePosts/<%= post._id %>/edit" style="text-decoration: none; color: black;">Edit</a></button>
<form action="/tourmatePosts/<%= post._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>
<button><a href="/tourmatePosts" style="text-decoration: none; color:black">Back to All Posts</a></button>