<% layout('layouts/boilerplate') %>
<h1>Tourmate Pool</h1>
<ul>
    <% posts.forEach(post => { %>
        <li>
            <a href="/tourmatePosts/<%= post._id %>" target="_blank"><%= post.title %></a>
            <p><%= post.description %></p>
            <p><%= post.location %></p>
            <p><%= post.tourDate %></p>
            <p><%= post.numberOfDays %> days</p>
            <p><%= post.people %> people</p>
            <p><%= post.socialMedia %></p>
            <p><%= post.contact %></p>
            <p><%= post.email %></p>
            <p><%= post.requirements %></p>
            <p><%= post.estimatedCost %></p>
            <p><%= post.about %></p>
            <button><a href="/tourmatePosts/<%= post._id %>/edit" style="text-decoration: none; color: black;">Edit</a></button>
            <form action="/tourmatePosts/<%= post._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
        </li>
    <% }) %>
</ul>
<a href="/tourmatePosts/new" target="_blank">Create New Post</a>